<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/user">
        <input placeholder="Enter ID" type="number" name="id">
        <br>  <br>
        <input placeholder="Enter your email" type="email" name="email">
        <br>  <br>
        <input placeholder="Enter your username" type="text" name="username">
        <br>  <br>
        <input placeholder="Enter your password" type="password" name="password">
        <br>  <br>
        <button>Add</button>
    </form>
</body>
</html>